@using Blazored.LocalStorage
<h1>it is login page</h1>
@inject ILocalStorageService StorageService
@inject  NavigationManager Manager
<label>Tokenni kiriting</label>
<input @bind="token"/>
<button class="btn btn-primary" type="submit" @onclick="SetToken">Login</button>


@code
{
    string token { get; set; }

    private async Task SetToken()
    {
        await StorageService.SetItemAsync("token", token);
        Manager.NavigateTo("/weather");
    }
}
