@page "/account/login"
@inherits LoginBase
@inject HttpClient Client
@inject  NavigationManager  Manager


<AuthorizeView>
    <Authorized>
        @{
            NavigationManager.NavigateTo("/user-chats");
        }
    </Authorized>
    <NotAuthorized>
        <h3>Login</h3>
        <form>
            <div>
                <label>Username</label>
                <InputText @bind-Value="@Model.Username"></InputText>
            </div>
            <br/>
            <div>
                <label>Password</label>
                <InputText @bind-Value="@Model.Password"></InputText>
            </div>
    
            <button type="submit" class="btn btn-primary" @onclick="LoginClicked">Login</button>
        </form>
        </NotAuthorized>
</AuthorizeView>


@code {
    private LoginModel Model = new();
    
    private string? Token { get; set; }

    private async void LoginClicked()
    {
        string url = "http://localhost:5068/api/User/login";

        var result = await Client.PostAsJsonAsync(url,Model);

        var statusCode = result.StatusCode;

        bool  isOk = statusCode == HttpStatusCode.OK;
        
        bool isBadRequest = statusCode == HttpStatusCode.BadRequest;

        var response = await result.Content.ReadAsStringAsync();

        if (isOk)
        {
            Manager.NavigateTo( $"/login-successfully/{response}");
        }
        else if(isBadRequest)
        {
            Manager.NavigateTo( $"/error/{response}");
        }
    }
}